/*公共样式*/
body {
	font-family: Arial, Tahoma, Verdana;
	font-size: 12px;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-left: 0px;
	color:#000000
}
div {
	margin: 0px;
	padding: 0px;
	overflow:visible;
	
}
p {
	margin: 0px;
	padding: 0px;
}
ol {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
li {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
dl {
	margin: 0px;
	padding: 0px;
}
dt {
	margin: 0px;
	padding: 0px;
}
dd {
	margin: 0px;
	padding: 0px;
}
form {
	margin: 0px;
	padding: 0px;
}
h1 {
	margin: 0px;
	padding: 0px;
}
h2 {
	margin: 0px;
	padding: 0px;
}
h3 {
	margin: 0px;
	padding: 0px;
}
h4 {
	margin: 0px;
	padding: 0px;
}
h5 {
	margin: 0px;
	padding: 0px;
}
h6 {
	margin: 0px;
	padding: 0px;
}
a {
	color: #333;
	text-decoration: none;
}
a:hover {
	color: #FF0000;
	
}
img {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}


/*样式
-----------------------------------------------*/
.bg{
	background-color:#145c8c;
	width:100%;
	min-height: 700px;
	_height:700px;
	overflow:visible
	}
.bg .bg_cen{
	background:url(blue_bg.gif) repeat-x;
	height:569px;
	}	
.bg .bg_cen .logo_bg{
	background:url(blue.gif) no-repeat center top;
	height:569px;
	padding-left:480px;
	padding-top:200px
	}
	
.bg1{
	background-color:#145c8c;
	width:100%;
	min-height: 700px;
	_height:700px;
	overflow:visible
	}
.bg1 .bg_cen{
	background:url(blue_bg.gif) repeat-x;
	height:569px;
	}	
.bg1 .bg_cen .logo_bg{
	background:url(blue.gif) no-repeat center top;
	height:569px;
	padding-left:480px;
	padding-top:200px
	}		
.bg2{
	background-color:#8a3818;
	width:100%;
	min-height: 700px;
	_height:700px;
	overflow:visible
	}
.bg2 .bg_cen{
	background:url(red_bg.gif) repeat-x;
	height:569px;
	}	
.bg2 .bg_cen .logo_bg{
	background:url(red.gif) no-repeat center top;
	height:569px;
	padding-left:480px;
	padding-top:200px
	}
.bg3{
	background-color:#387f2d;
	width:100%;
	min-height: 700px;
	_height:700px;
	overflow:visible
	}
.bg3 .bg_cen{
	background:url(green_bg.gif) repeat-x;
	height:569px;
	}	
.bg3 .bg_cen .logo_bg{
	background:url(green.gif) no-repeat center top;
	height:569px;
	padding-left:480px;
	padding-top:200px
	}
.bg4{
	background-color:#b3b3b3;
	width:100%;
	min-height: 700px;
	_height:700px;
	overflow:visible
	}
.bg4 .bg_cen{
	background:url(gray_bg.gif) repeat-x;
	height:569px;
	}	
.bg4 .bg_cen .logo_bg{
	background:url(gray.gif) no-repeat center top;
	height:569px;
	padding-left:480px;
	padding-top:200px
	}		
.TextField {
	width: 150px; 
	padding-right: 9px; 
	height: 15px;
	color: #1e71a8;
	font-size: 12px
}
.btn{
	background:url(userLogin_button.gif) no-repeat;
	width:82px;
	height:47px;
	border:none
	}
