<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="vue.js"></script>

    <script>
        window.onload=function(){
            new Vue({
                el:'.txt',
                data:{
                    hr:'<div>111</div>',
                    msg:'123',
                    url:'https://cn.vuejs.org/images/logo.png',
                    col:'col',
                    json:{
                        px:true,
                        cent:false
                    },
                    c:{color:'#ff00ff'},
                    size:{fontSize:'50px'}

                }
            });
        }
    </script>
    <style>
        /*p{*/
            /*height: 50px;*/
            /*line-height: 50px;*/
            /*border:1px solid #2a6496;*/
        /*}*/
        .px{
            color:#3c763d;
            font-size: 20px;
            font-weight: bold;
        }
        .cent{
            text-align: center;
        }
        .col{
            color:red;
        }
    </style>
</head>
<body>
<div class="txt">
    <input type="text" v-model="msg"><br/>
    {{msg}}

    <br/>
    <br/>
    <br/>

    <img :src="url" alt=""/>

    <br/>
    <br/>
    <br/>

    <p :style="[c,size]">我们是中华人民共和国合法公司，有权行使我们的权力，你们无权干涉我们权力！</p>
    <br/>
    <br/>
    <br/>

    <input type="text" v-model="msg"><br/>
    {{msg}}
    <br/>
    <br/>
    <br/>

    {{*msg}}
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <input type="text" v-model="hr"/><br/>
    {{hr}}<br/>
    {{{hr}}}
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <span data-id="{{id}}"> 面积：{{width*height}}</span>
    <br/>
    <br/>
    <br/>
    金额：{{12|currency}}  {{12|currency '￥'}}<br/>
    大写：{{'hello'|uppercase|}}<br/>
    首字母大写：{{'hello'|capitalize}}<br/>
    小写：{{msgg|uppercase}}<br/>
    {{item|pluralize 'item' }}
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<button id="btn" @click="disappear|debounce 1000">点击我,我将1秒后消失</button>

<script>
    var mj={
        id:10,
        width:100,
        height:100
    };
    new Vue({
        el:'#btn',
        data:{
            msgg:'HELLO'
        },
        mechods:{
            disappear:function(){

            }
        }
    });
</script>

</body>
</html>